---
import { detectRoute } from '@/utils/page';
import ThemeIcon from './ThemeIcon.astro';
const { scrollable = true } = Astro.props;
const { isBlog, isContact } = detectRoute(Astro.url.pathname);

function getNavItemClass(isActive: boolean) {
  const baseClasses =
    'hover-underline-animation opacity-80 hover:opacity-100 transition-all';
  const stateClasses = isActive
    ? 'underline-active font-bold opacity-90'
    : 'hover-underline-animation hover:font-bold';

  return `${baseClasses} ${stateClasses}`;
}

const navigatorItems = [
  {
    href: '/blog',
    label: 'Blog',
    className: getNavItemClass(isBlog),
  },
  {
    href: '/contact',
    label: 'Contact',
    className: getNavItemClass(isContact),
  },
];
---

<header id={`${scrollable ? 'scrollable-nav' : 'nav'}`} data-show="true">
  <nav
    class="flex py-3 justify-between items-center sm:text-base md:text-lg tracking-tight max-w-5xl w-full z-50"
    aria-label="Main Navigation"
    transition:name="header"
  >
    <a
      href="/"
      class=`${getNavItemClass(false)} opacity-100 font-bold hover-underline-animation transition-opacity bg-clip-text bg-linear-to-r from-header to-accent text-transparent`
      >jbalibrea.dev</a
    >
    <ul class="flex gap-4 md:gap-4 items-center uppercase">
      {
        navigatorItems.map((item) => (
          <li>
            <a href={item.href} class={item.className}>
              {item.label}
            </a>
          </li>
        ))
      }
      <ThemeIcon />
    </ul>
  </nav>
</header>
