---
import { FormattedDatetime } from '@/components/DateTime';
import unifiedText from '@utils/unifiedText';
import { fade } from 'astro:transitions';

const { post, minutesRead } = Astro.props;
const { title, description, author, pubDateTime, modDateTime } = post;
const titleSlug = unifiedText(title);
---

<div
  class="prose prose-base dark:prose-invert max-w-none
  prose-h1:font-extrabold prose-h1:tracking-tighter prose-p:font-normal m-auto w-full prose-img:rounded-md"
  id="content"
>
  <h1
    class="font-title mb-1 antialiased hover:subpixel-antialiased text-5xl md:text-6xl lg:text-7xl text-accent font-light"
    transition:name={titleSlug}
  >
    {title}
  </h1>
  <p class="m-0 text-sm">
    <p class="flex items-center gap-2 text-xs text-mutedfg/80">
      <strong class="font-semibold tracking-tight">{author} </strong>
      <FormattedDatetime pubDateTime={pubDateTime} modDateTime={modDateTime} /> |
      <svg
        class="w-4 h-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6l4 2m6-4a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      {minutesRead}
    </p>
  </p>
  <div transition:animate={fade({ duration: '1s' })}>
    <p class="text-xs text italic" transition:name={`desc-${description}`}>
      {description}
    </p>
  </div>
  <hr class="!my-1" />
  <article class="prose-a:hover:text-accent-2">
    <slot />
  </article>
</div>
