---
import PostCard from '@/components/PostCard.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Button from '@components/Button.astro';
import getShortedPosts from '@utils/getSorterPosts';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const shortedPosts = getShortedPosts(allPosts);

  const uniqueTags = [
    ...new Set(shortedPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => {
    const filteredPosts = shortedPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const pageTitle = `Posts con el tag #${tag}`;
const description = `Artículos del blog filtrados por el tag #${tag}`;
---

<BaseLayout title={pageTitle} description={description}>
  <main>
    <div class="flex flex-row justify-between">
      <h1 class="title title-bold"># Tags</h1>
      <Button text="Ver todos los tags" href="/blog/tags" />
    </div>
    <p>
      Filtrando artículos por: <span
        transition:name={tag}
        class="font-bold dark:text-white">#{tag}</span
      >
    </p>
    <ul>
      {
        posts.map(({ data, slug }) => (
          <PostCard href={`/blog/${slug}`} post={data} />
        ))
      }
    </ul>
  </main>
</BaseLayout>
