---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Tag from '@components/Tag.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');

const tags = allPosts
  .map((post) => post.data.tags)
  .flat()
  .reduce((acc, tag) => {
    acc[tag] = acc[tag] ? acc[tag] + 1 : 1;
    return acc;
  }, {});

const pageTitle = 'Tags #';
const description = 'Índice de tags';
---

<BaseLayout title={pageTitle}>
  <main>
    <h1
      class="text-4xl text-current font-extrabold tracking-tight dark:text-white uppercase"
    >
      # Índice de Tags y contador
    </h1>
    <div class="flex flex-col flex-wrap gap-4 mt-5">
      {
        Object.keys(tags).map((k) => (
          <div>
            <span transition:name={k}>
              <Tag
                tag={k}
                text="xl"
                label={`#${k} (${tags[k]} ${tags[k] > 1 ? 'veces' : 'vez'})`}
              />
            </span>
          </div>
        ))
      }
    </div>
  </main>
</BaseLayout>
