---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const descriptionDefault =
  "Jorge Balibrea, desarrollador web full stack especializado en tecnologías como React, Node.js y JavaScript. Explora mis proyectos, habilidades y experiencias profesionales, y lee mis blogs sobre desarrollo web y tecnología - jbalibrea.dev.";

const { title, description = descriptionDefault } = Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="scroll-smooth max-h-[400px] overflow-y-auto
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
>
  <head>
    <meta charset="utf-8" />
    <meta id="theme-color" name="theme-color" content="#f5f5f5" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Jorge Balibrea" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <!-- Open Graph -->
    <meta property="og:title" content="jbalibrea.dev" />
    <meta name="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jbalibrea.dev" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="jbalibrea.dev" />
    <meta property="og:image" content="https://jbalibrea.dev/avatar.png" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@jbalibrea1" />
    <meta name="twitter:creator" content="@jbalibrea1" />
    <meta name="twitter:title" content="Jorge Balibrea - jbalibrea.dev" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://jbalibrea.dev/avatar.png" />
    <meta name="twitter:image:alt" content="Avatar de Jorge Balibrea" />
    <meta name="twitter:url" content="https://jbalibrea.dev" />

    <meta
      name="keywords"
      content="jbalibrea, jorge balibrea, portfolio, blog, web developer, full stack developer, react, node.js, mongodb, typescript, javascript, web development, software development, technology, programming, coding, software engineer"
    />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed de jbalibrea.dev"
      href={`${Astro.site}rss.xml`}
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/android-chrome-512x512.png"
    />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <slot name="head" />
    <ViewTransitions />
  </head>
  <body
    class="container relative max-w-4xl mx-auto text-slate-900 dark:text-slate-50 bg-neutral-100 dark:bg-zinc-900 lg:px-0 min-h-screen"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
