---
import { ClientRouter } from 'astro:transitions';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import '@/styles/global.css';
import BackToTop from '@components/BackToTop.astro';

interface Props {
  title: string;
  description?: string;
  sticky?: boolean;
  image?: Image;
  canonicalURL?: string;
  postTitle?: boolean;
}

interface Image {
  url: string;
  alt: string;
}

const descriptionDefault =
  'Desarrollador Full Stack especializado en React, Node.js | Apasionado por aprender y crear soluciones web eficientes | Portfolio de Jorge Balibrea - Murcia, España';
const imageDefault = {
  url: '/jorge-balibrea-foto-perfil.png',
  alt: 'Foto de perfil de Jorge Balibrea',
};
const canonicalURLdefault = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description = descriptionDefault,
  sticky,
  image = imageDefault,
  canonicalURL = canonicalURLdefault,
  postTitle = false,
} = Astro.props;

const fullImageURL = `${import.meta.env.SITE}${image.url}`;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Google Tag Manager -->
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-3R2C9ZBRFV"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-3R2C9ZBRFV');
    </script>
    <!-- end Google Tag Manager -->

    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta id="theme-color" name="theme-color" content="#fff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Jorge Balibrea" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <!-- Open Graph -->
    <meta property="og:title" content={`${title} | jbalibrea.dev`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={postTitle ? 'article' : 'website'} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="jbalibrea.dev" />
    <meta property="og:image" content={fullImageURL} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={image.alt} />
    <!-- end Open Graph -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@jbalibrea1" />
    <meta name="twitter:creator" content="@jbalibrea1" />
    <meta name="twitter:title" content={`${title} | jbalibrea.dev`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={fullImageURL} />
    <meta name="twitter:image:alt" content={image.alt} />
    <meta name="twitter:url" content={canonicalURL} />
    <!-- end twitter -->

    <!-- Canonical URL  -->
    <link rel="canonical" href={canonicalURL} />

    <!--  Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed de jbalibrea - jbalibrea.dev"
      href={`${Astro.site}rss.xml`}
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/android-chrome-512x512.png"
    />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>
      {
        title === 'Home'
          ? 'Portfolio de Jorge Balibrea - Desarrollador Full Stack React & Node.js en Murcia'
          : `${title} | jbalibrea.dev`
      }
    </title>
    <slot name="head" />
    <ClientRouter />
  </head>

  <body class={Astro.url.pathname.startsWith('/blog') ? 'blog' : ''}>
    <Header sticky={sticky} />
    <slot />
    <BackToTop />
    <Footer />
  </body>
</html>
