---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}
const descriptionDefault =
  "Portfolio de Jorge Balibrea, desarrollador web full stack especializado en tecnologías como React, Node.js, MongoDB, y más. Explora mis proyectos, habilidades y experiencias profesionales, y lee mis blogs sobre desarrollo web y tecnología en jbalibrea.dev.";
const { title, description = descriptionDefault } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth max-h-[400px] overflow-y-auto
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
>
  <head>
    <meta charset="utf-8" />
    <meta id="theme-color" name="theme-color" content="#f5f5f5" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Jorge Balibrea" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <meta property="og:title" content="jbalibrea.dev" />
    <meta name="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jbalibrea.dev" />
    <meta property="og:locale" content="es_ES" />

    <!-- <meta property="og:image" content="https://jbalibrea.dev/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" /> -->
    <meta property="og:site_name" content="jbalibrea.dev" />
    <!-- <meta name="twitter:card" content="summary_large_image" /> -->
    <!-- <meta name="twitter:site" content="@jbalibrea" />
    <meta name="twitter:creator" content="@jbalibrea" /> -->
    <meta name="twitter:title" content="jbalibrea.dev" />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:description"
      content="Portfolio de Jorge Balibrea, desarrollador web full stack especializado en tecnologías como React, Node.js, MongoDB, y más. Explora mis proyectos, habilidades y experiencias profesionales, y lee mis blogs sobre desarrollo web y tecnología en jbalibrea.dev."
    />
    <!-- <meta name="twitter:image" content="https://jbalibrea.dev/og-image.png" /> -->

    <meta
      name="keywords"
      content="jbalibrea, jorge balibrea, portfolio, blog, developer, web developer, full stack, react, node.js, mongodb, typescript, javascript, web development, software development, technology, tech, programming, code, coding, software engineer, engineer, web, web design, web development, web developer portfolio, web developer blog, web developer projects, web developer skills, web developer experience, web developer resume, web developer cv, web developer about, web developer contact, web developer jbalibrea, web developer jorge balibrea, web developer react, web developer node.js, web developer mongodb, web developer typescript, web developer javascript, web developer software development, web developer technology, web developer tech, web developer programming, web developer code, web developer coding, web developer software engineer, web developer engineer, web developer web, web developer web design, web developer web development"
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/android-chrome-512x512.png"
    />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
    <slot name="head" />
    <ViewTransitions />
  </head>
  <body
    class="container relative max-w-4xl mx-auto text-slate-900 dark:text-slate-50 bg-neutral-100 dark:bg-zinc-900 lg:px-0 min-h-screen"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
