---
import Prose from '@/components/Prose.astro';
import BaseLayout from './BaseLayout.astro';
import PostComment from '@/components/PostComment.tsx';
import BlogNavigation from '@/components/BlogNavigation.astro';
import type { InfoPost } from '@/interfaces/InfoPost';
const { post, posts } = Astro.props;
import MediumZoom from '@components/MediumZoom.astro';
import ProgressBarBlog from '@components/ProgressBarBlog.astro';

const { title, description, image } = post;

/* ========== Prev/Next Posts ========== */
const allPostInfo = posts.map(
  ({ data: { title }, slug }): InfoPost => ({
    slug,
    title,
  }),
);

const currentPostIndex = allPostInfo.findIndex(
  (a: InfoPost) => a.title === post.title,
);

const prevPost =
  currentPostIndex !== 0 ? allPostInfo[currentPostIndex - 1] : null;
const nextPost =
  currentPostIndex !== allPostInfo.length
    ? allPostInfo[currentPostIndex + 1]
    : null;
---

<BaseLayout
  title={`${title}`}
  description=`${description} - Por Jorge Balibrea · Desarrollador Full Stack en Murcia`
  sticky={false}
  image={image}
  postTitle={true}
>
  <main>
    <div class="flex gap-7 max-w-full">
      <!-- side bar-->
      <aside
        class="top-20 min-w-48 basis-60 md:sticky md:order-2 lg:shrink-0 hidden md:block"
        style="height:calc(85vh - 5rem);"
      >
        <div class="h-full overflow-y-auto" id="sidebar">
          <slot name="sidebar" />
        </div>
      </aside>
      <!-- end side bar-->
      <div class="flex-1 min-w-0">
        <Prose post={post}>
          <slot />
        </Prose>
      </div>
    </div>
    <PostComment client:only="react" />
    <BlogNavigation prevPost={prevPost} nextPost={nextPost} />
  </main>
  <MediumZoom />
  <ProgressBarBlog />
</BaseLayout>
