---
import { fade } from "astro:transitions";
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} - jbalibrea.dev`}>
  <Prose>
    <header class="pt-5 px-8">
      <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
      <p transition:animate={fade({ duration: "1s" })}>
        <em>{frontmatter.description}</em>
      </p>
      <p>Escrito por: <strong>{frontmatter.author}</strong></p>
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </header>
    <main class="px-8 pb-32">
      <slot />
    </main>
  </Prose>
</BaseLayout>
