---
import BlogNavigation from '@/components/BlogNavigation.astro';
import PostComment from '@/components/PostComment.tsx';
import Prose from '@/components/Prose.astro';
import type { InfoPost } from '@/interfaces/InfoPost';
import MediumZoom from '@components/MediumZoom.astro';
import ProgressBarBlog from '@components/ProgressBarBlog.astro';
import BaseLayout from './BaseLayout.astro';
import { getCollection } from 'astro:content';
import getShortedPosts from '@utils/getSorterPosts';

const { post, remarkPluginFrontmatter } = Astro.props;
const { title, description, image } = post.data;

/* ========== Prev/Next Posts ========== */
const posts = await getCollection('posts');
// obetnemos los posts ordenados por fecha
const sortedPosts = getShortedPosts(posts);
// obtenemos la info de los posts
const dataPosts = sortedPosts.map(
  ({ data: { title }, slug }): InfoPost => ({
    slug,
    title,
  }),
);

// normalizmos el slug
const currSlug = post.slug.split('/')[0];
const currPostIdx = dataPosts.findIndex((a) => a.slug === currSlug);

const prevPost =
  currPostIdx < dataPosts.length - 1 ? dataPosts[currPostIdx + 1] : null;

const nextPost = currPostIdx > 0 ? dataPosts[currPostIdx - 1] : null;
---

<BaseLayout
  title={`${title}`}
  description=`${description} - Por Jorge Balibrea · Desarrollador Full Stack en Murcia`
  sticky={false}
  image={image}
  postTitle={true}
>
  <main>
    <div class="flex gap-12 max-w-full">
      <!-- side bar-->
      <aside
        class="top-20 min-w-48 basis-60 md:sticky md:order-2 lg:shrink-0 hidden md:block"
        style="height:calc(85vh - 5rem);"
      >
        <div class="h-full overflow-y-auto" id="sidebar">
          <slot name="sidebar" />
        </div>
      </aside>
      <!-- end side bar-->
      <div class="flex-1 min-w-0">
        <Prose
          post={post.data}
          minutesRead={remarkPluginFrontmatter.minutesRead}
        >
          <slot />
        </Prose>
      </div>
    </div>
    <PostComment client:only="react" />
    <BlogNavigation prevPost={prevPost} nextPost={nextPost} />
  </main>
  <MediumZoom />
  <ProgressBarBlog />
</BaseLayout>
